body, #one{
    background: rgb(191, 190, 190);
    height: 100vh;
    margin: 0;
}
.div-one {
    position: relative;
    background: white;
    width: 70%; height: 80%;
    margin-left: auto; margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    display: flex;
}
.dentro {
    width: 40%; height: 100%;
    background: rgb(59, 134, 128);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dentro2 {
    width: 100%;height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.p1, .p1h1 {
    color: white;
    width: 60%;
    font-size: 31px;
}

.p1h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p2h1 {
    color:rgb(59, 134, 128) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 31px;
    margin-left: auto; margin-right: auto; margin-top: 10%;
}
.cadastra {
    font-size: 20px;
    text-align:center;
    background-color: rgb(237, 233, 233);
    width: 40%; height: 8%;
    border: none;
    margin-top: 10px;
}

#enviar {
    background-color: rgb(59, 134, 128);
    color: white;
    border-radius: 30px;
    margin-top: 30px;
    width: 20%;
}

#dois {
    display:none;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
}

#modal-container {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    width: 100%;
    height: 100%;
}

#modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#modal-items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#modal-items button {
    background-color: rgb(59, 134, 128);
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}